<!DOCTYPE html>
<html>
<head>
    <title>
        Dania Template
    </title>
    <link rel="stylesheet" href="styles/base.css">
</head>
<body>
    <main>
        <% books.forEach((book)=> { %>
        <div> 
        <ul>
            <p>The titles</p>
            <li><%= book.volumeInfo.title %></li>
            <p>The authors</p>
            <li><%= book.volumeInfo.authors[0] %></li>
            <p> The ISBN</p>
            <li><%= book.volumeInfo.industryIdentifiers&&book.volumeInfo.industryIdentifiers[0].identifier%></li>
            <p>The descriptions</p>
            <li><%= book.volumeInfo.description %></li>
            <p>The imageLinks</p>
            <li>
                    <li><img src="<%= (book.volumeInfo.imageLinks)? book.volumeInfo.imageLinks.thumbnail:"" %>"></li>
            <li>
                <form action="/select" method="POST">
                    <button> select the book</button>
                    <input type="hidden" name="title" value=<%= book.volumeInfo.title %>>
                    <input type="hidden" name="authors" value=<%= book.volumeInfo.authors[0] %>>
                    <input type="hidden" name="isbn" value=<%= book.volumeInfo.industryIdentifiers&&book.volumeInfo.industryIdentifiers[0].identifier%>>
                    <input type="hidden" name="description" value=<%= book.volumeInfo.description %>>
                    <input type="hidden" name="imgURL" value=<%= (book.volumeInfo.imageLinks)? book.volumeInfo.imageLinks.thumbnail:"" %>>
                </form>
            </li>
        </ul>
    </div>
    <% })    %>

    </main>
  
</body>
</html>
